html, body {
    display: flexbox;
    width: 100%;
    font-family;
    background-color: #DCE0D9;
}


.answers button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    position: relative;
    height:auto;
}


.card-body{
    margin: 10px;
    border-radius: 20px;
    background-color:#808f85;
}
h2.question {
    font-weight: bolder;
    color: #231f20;
}

p {
    font-size:24px;
    color: #DCE0D9;
    text-align: center;
    margin: 40px;
    padding: 10px;
    display: flex;
}